<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>myAppName</contextName>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level [%t] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.jayway.jsonpath" level="TRACE"/>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>